    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    :root{
        /* Primary */
        --red :hsl(0, 100%, 74%);
        --green :hsl(154, 59%, 51%);

        /* Accent */
        --blue :hsl(248, 32%, 49%);

        /* Neutral */
        --dark_blue :hsl(249, 10%, 26%);
        --grayish_blue :hsl(246, 25%, 77%);

    }

    body{
        background-image: url('images/bg-intro-desktop.png');
        background-repeat: no-repeat;
        background-color: var(--red);
    }

    main{
display: flex;
justify-content: space-evenly;
    }

    form{
        background-color: white;
    }