    :root{
        /* Primary */
        --red :hsl(0, 100%, 74%);
        --green :hsl(154, 59%, 51%);
        --shadow_green: hsl(154, 59%, 51%, 50%);

        /* Accent */
        --blue :hsl(248, 32%, 49%);

        /* Neutral */
        --dark_blue :hsl(249, 10%, 26%);
        --shadow_blue: hsl(249, 10%, 26%, 30%);
        --grayish_blue :hsl(246, 25%, 77%);
    }

/* 
    @media screen and (min-width: 400px) {
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .quote{
            text-align: center;
        }

        form{
            max-width: 16rem;
        }

        .trial{
            max-width: 14rem;
            text-align: center;
        }
        
    } */

    body{
        background-color: var(--red);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-image: url('images/bg-intro-desktop.png');
        background-repeat: no-repeat;
    }

    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }


    .quote{
        max-width: 500px;
        margin-top: 5%;
        color: white;
    }

    .learn{

        font-weight: 700;
        margin-bottom: 0;
    }
    .quoteBlock{
        font-weight: 400;
        font-size: 15px;
    }
    .submit{
        padding: 15px;
        background-color: var(--green);
        color: white;
        border-radius: 5px;
        border: 0;
        width: 375px;
        cursor: pointer;
    }

    .trial{
        padding: 15px;
        border: 0;
        background-color: var(--blue);
        color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 375px;
        box-shadow: 0px 6px var(--shadow_blue);
        font-weight: 400;
    }

    .conditions{
        font-size: .7rem;
        font-weight: 400;
        margin-left: -10px;
        margin-right: -10px;
        color: var(--grayish_blue);
    }
    .conditions a{
        color: var(--red);
        text-decoration: none;
    }


    form{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        max-width: 400px;
    }

    input{
        width: 350px;
        padding: 10px;
    }

    .error{
        color: red;
    }